* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1270px;
  padding: 10px 20px;
}
